@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
html{
    font-size: 62.5%;

}
body{
    font-family: 'Montserrat', sans-serif;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 0.1rem;
    line-height: 2.2rem;
}
h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 00.15em;
    font-weight: 500;
}
.header{
    position: relative;
    height: 95vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) , url(../img/Background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* ####Utility Class#### */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 2.2rem;
}
.bg-dark{
    background-color: #263238;
}
.text-red{
    color: #e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}
.text-gray{
    color: #555;
}
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.8em 0;
    
}
.btn-primary{
    background-color: white;
    border-radius: 10rem;
}
.btn-secondary{
    border: 2px solid #e63946;
    border-radius: 1.5em;
    color: #e63946;
    background-color: #fff;

}



.navbar .logo{
    float: left;
    
}

.navbar .nav-items{
   float: right;
  
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}
.navbar .nav-items .nav-item{
    display: inline-block;
    margin-left: 1rem;
    font-weight: 500;
    padding: 2.5rem;
}
.nav-item a{
    text-decoration: none;
    color: #f4f4f4;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    padding-bottom: 0.3rem;
}
.navbar a:hover{
    border-bottom: 2px solid rgb(221, 213, 213);

}
.header-content{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    padding: 3.5rem;
}
.header-content h1{
    font-weight: 700;
    padding-bottom: 1rem;;
}
.header-content a{
    font-size: 2rem;
    text-decoration:none;
    font-weight: 500;
    padding-bottom: 1 rem;
    
}
.header-content a:hover{
    background-color: #f4f4f4;
}
.header-content p{
    text-transform: uppercase;
    padding-bottom: 1rem;
 
}

            /* SHOWCASE SECTION STARTING */

.showcase{
    background: #ddd;
    padding: 10rem ;
    
}

.row{
    height: 400px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #888;
}
.row1, .row2{
    margin-bottom: 10rem;
}
.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}
.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}
.row .img-box{
    height: 100%;
}
.row .text-box{
    padding: 3rem;
}
.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.row .text-box p{
    font-size: 1.5rem;
}
.row .text-box h2{
    font-size: 3.4rem;
}
.text-box a{
    text-decoration: none;
}
.text-box a:hover{
    background-color: #f4f4f4;
}
.row::after{
    content: '';
    display: block;
    clear: both;
}

             /* FEATURES SECTION */

.features{
    padding: 7.5rem;
}
.box{
    
    width: 33.33333333%;
    padding: 2rem;
    text-align: center;
}
.box-wrapper{
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.358);
}
.box-wrapper .box-1, .box-2{
    float: left;
}
.box-wrapper .box-3{
    float: right;
}
.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.box-1, .box-3{
    background-color: #263238;
    color: #fff;
}
.box-2{
    background-color: #7d334e;
    color: #fff;

}

                  /* FOOTER SECTION */

.footer{
    background-color: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}
.footer .social-media-links i{
    margin: 2rem;
}
.footer a:link{
    color: #f4f4f4;
}
.footer a:visited{
    color: #f4f4f4;
}


                    /* ABOUT PAGE SECTION */


.about
{
    padding: 6rem 3rem;
   
}
.about .lg-heading{
    border-bottom: 0.6rem solid #e63946;
}
.about-tips{
    margin-top: 2rem;

}
.about-tips .left{
    float: left;
    width: 50%;
    padding-left: 3rem;
}
.about-tips .right{
    float: right;
    width: 50%;
    padding-left: 3rem;
}
.about-tips::after{
    content: '';
    display: block;
    clear: both;
}
.about-tips li::before{
    content: '\2713';
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}



                    /* CONTACT US SECTION */

.contact-form{
    padding: 5rem 0;
    
}
.container1{
    max-width: 1200px;
    width: 60%;
    margin: 0 auto;
}
.cf .form{
    font-size: 1.6rem;
    background-color: #fff;
    
    
}
.form h1::after{
    content: '';
    display: block;
    border: 0.3rem solid #e63946;
    width: 100%;
}

.cf .form input{
    padding: 0.5rem;
    width: 100%;
    margin:  1rem 0;
}
.form-group textarea{
    width: 100%;
    height: 30rem;
    padding: 1rem;
    margin: 2.5rem 0;

}
.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}




                /* MEDIA QUERIES FOR RESPONSIVE */


@media (max-width: 500px){
    html{
        font-size: 43.75%;
        
    }
    .navbar .nav-items{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        padding: 0 8rem;
        text-align: center;
        
    }
    .navbar .nav-items .nav-item{
        display: inline-block;
        margin-left: 0.7rem;
        font-weight: 500;
        padding: 1.5rem;
    }
    .header-content h1{
        display: none;
    }
    .showcase{
        background: #ddd;
        padding: 5rem 0.5rem;
        
    }
    .row{
        height: auto;
        width: 100%;
    }
    .row .img-box, .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .features{
        padding: 7.5rem 1rem;
    }
    .features .box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .contact-form{
        padding: 5rem 0;
        
        
    }
    .container1{
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
    
    }

    
    

}
@media (min-width: 501px) and (max-width:768px){
    html{
        font-size: 43.75%;
    }
    p{
        font-size: 2rem;
    }
    .navbar .nav-items{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        padding: 0 18rem;
        text-align: center;
        
    }
    .navbar .nav-items .nav-item{
        margin-left: 1rem;
        font-weight: 700;
        padding: 2.5rem;

    }
    .showcase{
        background: #ddd;
        padding: 5rem 3.5rem;
        
    }
    .row{
        height: auto;
        width: 100%;
    }
    .row .img-box, .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .features{
        padding: 7.5rem 1rem;
    }
    .features .box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .contact-form{
        padding: 5rem 0;
        
        
    }
    .container1{
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
    
    }

}

@media(min-width: 769px) and (max-width: 900px){

    html{
        font-size: 50%;
    
    }
    .row{
        height: 365px;
    }
    .showcase{
        background: #ddd;
        padding: 5rem 2.5rem;
    }
    .features{
        padding: 7.5rem 2rem;
    }
    .features .box{
        float: none;
        width: 100%;
        text-align: center;
    }

}

@media(min-width: 901px) and (max-width: 1200px){

    html{
        font-size: 56.25%;
    
    }
    .row{
        height: 365px;
    }
    .showcase{
        background: #ddd;
        padding: 5rem 0.5rem;
    }
    
    @media screen and (orientation: landscape) and (max-device-width: 768px){
        .header{
            height: 90vmax;
        }
        .header-content h1{
            display: none;
        }
    }

}

